@use '/src/assets/animations.scss';

:host {
  main {
    flex-direction: column;

    .pokemon-names {
      margin-top: 8vh;
      margin-left: 30vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      height: 5vh;

      h1 {
        color: white;
        font-size: 2.5vw;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: 200;
        margin-right: 20%;
      }

      h2 {
        position: relative;
        font-weight: 100;
        bottom: 5vh;
        font-size: 3vw;
        color: rgba(255, 255, 255, 0.1);
      }
    }
    .pokemon-status {
      background-color: white;

      border-radius: 5rem;
      width: 40vw;
      height: 50vh;

      display: flex;
      flex-direction: row;

      .pokemon-status-statistics {
        width: 70%;
        height: 50%;

        padding: 2vh;
        section {
          h3 {
            padding: 2rem;
            padding-bottom: 0;
            font-size: 1.5vw;
            color: rgb(244, 79, 79);
            font-style: italic;
            text-decoration-line: underline;
            margin-bottom: 8vh;
          }

          ol {
            padding: 2rem;
            padding-top: 0;
            li {
              display: flex;
              padding-bottom: 1vh;
              flex-direction: row;
              justify-content: space-between;
              list-style-type: none;
              text-transform: capitalize;
              font-size: 1vw;
            }
          }
        }
      }
      .image {
        width: 30%;
        height: 100%;
        img {
          height: 25vh;
          width: 15vw;
        }
      }
    }
    .btn {
      padding: 1rem;
      margin-top: 4vh;

      width: 25vw;

      border-radius: 1rem;
      text-decoration: none;
      text-align: center;

      background-color: rgb(244, 79, 79);
      color: white;
      font-size: 1vw;
    }

    .btn:hover {
      background-color: rgb(252, 38, 38);
    }
  }

  @media screen and (max-width: 1080px) {
    main {
      flex-direction: column;

      .pokemon-names {

        height: 5vh;

        h1 {
          font-size: 2.5vw;
        }

        h2 {
          font-size: 3vw;
        }
      }
      .pokemon-status {
        width: 60vw;
        height: 50vh;

        .pokemon-status-statistics {
          width: 70%;
          height: 50%;
          section {
            h3 {
              font-size: 1.5vw;
            }

            ol {
              li {
                font-size: 1vw;
              }
            }
          }
        }
        .image {
          width: 30%;
          height: 100%;
          img {
            height: 25vh;
            width: 15vw;
          }
        }
      }
      .btn {
        width: 35vw;
        font-size: 1vw;
      }
    }
  }

  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;

      .pokemon-names {

        h1 {
          font-size: 4.5vw;
        }

        h2 {
          font-size: 6.5vw;
        }
      }
      .pokemon-status {
        width: 80vw;
        height: 50vh;

        .pokemon-status-statistics {
          section {
            h3 {
              font-size: 3.5vw;
            }

            ol {
              li {
                font-size: 2.5vw;
              }
            }
          }
        }
      }
      .btn {
        width: 45vw;
        font-size: 2.5vw;
      }
    }
  }
}
