@use '/src/assets/variables.scss';
@use '/src/assets/animations.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2vh;
    border-radius: 25px;
    margin-bottom: 1vh;
    width: 35vw;
    height: 2.5vh;

    input {
      width: 95%;
      background: none;
      border: none;
      height: 100%;
      font-size: 1em;
      color: white;
      outline: none;
      font-weight: 100;

      &::placeholder {
        color: white;
      }
    }

  }
}
